.signupdice{
    height:20%;
    width: 20%;
    margin-bottom: -13%;
}

.cardBackground{
margin-top:5%;
background-color:white;
text-align:justify;
width:400px;
height:300px;
}

.zpicbg{
margin-top:5%;
background-color:honeydew;
text-align: center;
width:400px;
height:300px;
}

.zpic{
    background-color:honeydew;
    text-align: center;
    width:200;
    height:200px;
    }



.tabletalk{
    margin-top:5%;
    width:275px;
    height:300px;
    text-align: left;
}